stamp.analyses.pre=inject-annot,base-java,cipt-dlog,ctxts-obj-java,context-label-java,pre-dlog,intentFilter-java,specMeth-java,srcsink-java
#stamp.analyses.post=post-dlog,post-java
#stamp.analyses.post=post-dlog,post-java-iccg,malware-java,post-java
stamp.analyses.post=post-dlog,apposcopy-java,post-java,synth-java
#stamp.analyses.main=typefilter-dlog,pt-obj-dlog,pt-iccg-dlog,taint-lim-dlog
stamp.analyses.main=typefilter-dlog,pt-obj-dlog,pt-iccg-dlog,taint-lim-dlog,malware-dlog
stamp.icdf=false
stamp.printrels=Service,Receiver,SpecCallerComp,CompIntentAction,Activity,TgtDataType,SrcSinkComp
#stamp.printrels=flow,FlowComp,ICCG,CallerComp,Priority,Service,Receiver,SpecCallerComp,CompIntentAction,Activity,TgtDataType,SrcSinkComp
stamp.print.allclasses=false
stamp.timeout=3600000

chord.verbose=2
stamp.browser=google-chrome
stamp.osx_browser=Aurora
stamp.androidtarget="Google Inc.:Google APIs:19"
chord.bddbddb.max.heap=10g
chord.max.heap=10g
