stamp.analyses.pre=inject-annot,base-java,annot-java,contexts-java,context-label-java,pre-dlog
stamp.analyses.post=post-dlog,post-java
stamp.printrels=

chord.verbose=2
stamp.maxheap=96g
stamp.browser=google-chrome
stamp.osx_browser=Aurora
stamp.androidtarget="Google Inc.:Google APIs:15"
chord.bddbddb.max.heap=96g
chord.max.heap=96g
